TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_APPROVER_IDS=

GMAIL_SMTP_USER=jaimeclawbasilico@gmail.com
GMAIL_APP_PASSWORD=
GMAIL_APPROVAL_RECIPIENTS=j_basilico@hotmail.com,kylebrochet13@gmail.com
SOUNDING_EMAIL_ALLOWED_SENDERS=j_basilico@hotmail.com,kylebrochet13@gmail.com,michaelnworden@gmail.com
FORECASTER_BRIEFING_EMAIL_RECIPIENTS=j_basilico@hotmail.com,kylebrochet13@gmail.com
CHASE_TARGET_EMAIL_RECIPIENTS=j_basilico@hotmail.com,kylebrochet13@gmail.com

FACEBOOK_PAGE_ID=393540403849660
FACEBOOK_PAGE_ACCESS_TOKEN=
FACEBOOK_GRAPH_API_VERSION=v24.0

MARINECAST_APPROVAL_RECIPIENTS=j_basilico@hotmail.com,kylebrochet13@gmail.com
MARINECAST_APPROVAL_EXPIRES_HOURS=6
